div {
    width: 100px;
    height: 100px;
    background-color: #3d405b;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}


#middle {
    background-color: #81b29a;
}

/* Static:- No effect on position of an element */
#static #middle {
    position: static;
    left: 100px;
    bottom:1000px;
}

/* Relative :- Changing the position of an element relative to the parent element*/
#relative #middle {
    position: relative;
    top: 50px;
    left: 50px;
}

/* Absolute:- Positioned relative to its closest positioned ancestor if any, 
otherwise placed relative to the initial containing block. */
#absolute {
    position: relative;
}

#absolute #middle {
    position: absolute;
    top: 1px;
    left: 1px;
}

/* Fixed:- Positioned fixed in the document */
#fixed #middle {
    position: fixed;
    top: 0;
    left: 0;
}