body {
    margin: 0;
}

/* Width and height */
div {
    width: 200px;
    height: 200px;
}
span {
    margin-left: 30px;
    margin-top:30px;
}

h1 {
    background-color: pink;
    width: 200px;
    padding-left: 100px;
    padding-top: 50px;
    margin: 0;
}

#one {
    background-color: #e5989b;
    border-width: 5px;
    border-color: black; 
    border-style: solid;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #b5838d;
    border-color: #ffcdb2;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 8px;
    padding-right: 50px;
    margin: 200px;
}

#three {
    background-color: #6d6875;
    /* border shorthand property */
    /* width | style | color */
    border: 4px solid black;
    border-left-style: dotted;
    /* Rounds the corners of the border edges. */
    border-radius: 50%;
}


button {
    /* padding shorthand property */
    /* padding : 10px; (applies to all four sides)
       padding: 5px 10px; (vertical, horizontal)
       padding: 1px 2px 2px; (top, horizontal, bottom)
       padding: 5px 1px 0 2px; (top, right, bottom, left)
    */
    padding: 10px 20px 30px 40px;
}