/* Universal Selector */
/* *{
    background-color:cyan;
} */

body{
    background-color:#f1faee
}


/* Element Selector */
button{
    font-size:30px;
    background-color: #a8daa8
}

/* Selector List */
h1,h2{
    color:darkslateblue;
}

/* ID Selector */
#signup{
    background-color:#1d3557;
    color:#f1faee;
}

/* Class Selector */
span{
    color:#457b9d
}

.tag{
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* Descendant Selector */
.post a{
    color:#457b9d;
    text-decoration: none;
    font-weight: 700;
}

footer a{
    color: #e63946;
}
/* Adjacent Selector:- Select only the paragraphs that are immediately preceded by an <h1> */
input + button{
    background-color: pink;
}

h2 + button{
    font-size: 20px;
}
/* Diect Child:- Select only the a that is direct children of footer tag and not nav tag */
footer > a{
    color: #457b9d
}

/* Attribute selector */
input[type="password"]{
    color: greenyellow;
}

/* section.post{
    background-color: purple;
} */

a[href*="google"]{
    color: magenta;
}

/* Hover */
button:hover{
    background-color: #e63946;
    color: #f1faee;
}

.post button:hover{
    background-color: #e63946;
    color: #f1faee;
}

.post a:hover{
    text-decoration: underline;
}
/* Active */
.post button:active{
    background-color: #02c39a;
}

/* nth-of-type:- Provides color to the 3rd element with the id post */
/* .post:nth-of-type(3){
    background-color: #dfe8dc;
} */

/* Provides color to every 2n (applies color 2n times) elements to with the id post in the section */
post:nth-of-type(2n){
    background-color: #dfe8dc;
}

/* First-letter:- Changes the property of the first letter */
h2::first-letter{
    font-size: 50px;
}

/* First line:- Changes the property of p in the first line */
p::first-line{
    color:purple;
}

/* Selection:- Changes color after selecting paragraph */
p::selection{
    background-color: #fcbf49;
}