section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    /* Alpha Channel */
    /* background-color: rgba(255,255,255,1); Not transparent */
    /* background-color: rgba(255,255,255,0); Complete transparent */
    background-color: rgba(255,255,255,0.7); /*Partial transparent*/
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.3;
}