h1{
    text-align: center;
    font-weight:400;
    text-decoration: #f78120 underline wavy;
    letter-spacing: 15px;
    font-size:80px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: monospace;
}

p{
    font-weight: bold;
    line-height: 2;
}

a{
    text-decoration:none;
}
