<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <h1>List Of Users Are:- </h1>
       <ul>
        <li>User1</li>
        <li>User2</li>
       </ul>
    </main>
</body>
</html>